name: generate-sdk

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      pr-base:
        required: true
        type: string
    secrets:
      ORG_ISP_WRITER_APP_ID:
        required: true
      ORG_ISP_WRITER_APP_PRIVATE_KEY:
        required: true
    outputs:
      pr-number:
        description: pr number
        value: ${{ jobs.generate-sdk.outputs.pr-number }}

permissions:
  actions: read
  contents: write
  pull-requests: write

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  generate-sdk:
    runs-on: ubuntu-latest
    outputs:
      pr-number: ${{ steps.create-pr.outputs.pull-request-number }}
    steps:

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.ORG_ISP_WRITER_APP_ID }}
          private-key: ${{ secrets.ORG_ISP_WRITER_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          submodules: recursive

      - name: Determine base branch name
        id: pr-base
        run: |
          if [[ "${{ github.event_name }}" = "issue_comment" ]]; then
            echo "name=${{ inputs.pr-base }}" | tee -a "$GITHUB_OUTPUT"
          else
            echo "name=${{ github.ref_name }}" | tee -a "$GITHUB_OUTPUT"
          fi

      - name: Determine head branch name
        id: pr-head
        env:
          BASE: ${{ steps.pr-base.outputs.name }}
        run: |
          DATE=$(date '+%s')
          echo "name=gen/$BASE/$DATE" | tee -a "$GITHUB_OUTPUT"

      - name: Re-generate isp
        run: ./run.sh isp

      - name: Re-generate isp-slate
        run: ./run.sh isp-slate

      - name: Re-generate isp-lifecycle
        run: ./run.sh isp-lifecycle

      - name: Detect generated changes
        id: changes
        run: |
          git status

          if [ -n "$(git status -s)" ]; then
            echo "should-commit=true" | tee -a "$GITHUB_OUTPUT"
          else
            echo "should-commit=false" | tee -a "$GITHUB_OUTPUT"
          fi

      - name: Create and push branch
        if: steps.changes.outputs.should-commit == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -b ${{ steps.pr-head.outputs.name }}
          git push -u origin ${{ steps.pr-head.outputs.name }}

      - name: Commit changes
        if: steps.changes.outputs.should-commit == 'true'
        uses: planetscale/ghcommit-action@v0.2.0
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        with:
          commit_message: "re-generate sdk"
          repo: ${{ github.repository }}
          branch: ${{ steps.pr-head.outputs.name }}
          file_pattern: 'isp isp-slate isp-lifecycle'

      - name: Create Pull Request
        id: create-pr
        if: steps.changes.outputs.should-commit == 'true'
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          PR_BODY: |
            Generated by [${{ github.workflow }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

            Comment `recreate-me` on this pull request to have it closed and re-created
        run: |
          PR_URL=$(gh pr create \
            --title "chore: bump sdk version" \
            --body "$PR_BODY" \
            --base ${{ steps.pr-base.outputs.name }} \
            --head ${{ steps.pr-head.outputs.name }})

          PR_NUMBER=$(echo "$PR_URL" | grep -o '[0-9]\+$')
          echo "pull-request-number=$PR_NUMBER" >> "$GITHUB_OUTPUT"
          echo "pull-request-url=$PR_URL" >> "$GITHUB_OUTPUT"

      - name: Print summary
        if: steps.changes.outputs.should-commit == 'true'
        env:
          PR_NUMBER: ${{ steps.create-pr.outputs.pull-request-number }}
          PR_URL: ${{ steps.create-pr.outputs.pull-request-url }}
        run: |
          echo "Created [#${PR_NUMBER}](${PR_URL})" > "$GITHUB_STEP_SUMMARY"
