openapi: 3.1.0
info:
  contact:
    email: support@istreamplanet.com
    name: Slate Management
    url: https://istreamplanet.com/contact/
  title: iStreamPlanet Slate Management API
  version: 1.0.0
servers:
- description: int
  url: https://int.api.istreamplanet.com
security:
- authcode: []
- m2m: []
tags:
- name: Slates for Organization
- name: Slate Operations
paths:
  /v2/{org}/slates:
    get:
      description: List all slates
      operationId: list-org-slates
      parameters:
      - description: Organization name
        explode: false
        in: path
        name: org
        required: true
        schema:
          description: Organization name
          type: string
          x-go-type: string
        style: simple
      - description: Current page cursor
        explode: false
        in: query
        name: cursor
        required: false
        schema:
          description: Current page cursor
          type: string
        style: form
      - description: Number of items to return
        explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 100
          description: Number of items to return
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Slate'
                type: array
          description: OK
          headers:
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            Link:
              explode: false
              schema:
                description: HTTP links for pagination
                type: string
              style: simple
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unprocessable Entity
        "499":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Service Unavailable
      summary: List Slates
      tags:
      - Slates for Organization
  /v2/{org}/slates/{slate-id}:
    delete:
      description: |-
        Delete Slate
        Delete a slate by id.
      operationId: delete-org-slate
      parameters:
      - description: Unique identifier for this slate
        example: slate-id-1
        explode: false
        in: path
        name: slate-id
        required: true
        schema:
          description: Unique identifier for this slate
          type: string
          x-go-type: string
        style: simple
      - description: Organization name
        explode: false
        in: path
        name: org
        required: true
        schema:
          description: Organization name
          type: string
          x-go-type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "409":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "412":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Precondition Failed
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unprocessable Entity
        "499":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Service Unavailable
      summary: Delete Slate
      tags:
      - Slates for Organization
    get:
      description: |-
        Get Slate
        Get a slate by id.
      operationId: get-org-slate
      parameters:
      - description: Unique identifier for this slate
        example: slate-id-1
        explode: false
        in: path
        name: slate-id
        required: true
        schema:
          description: Unique identifier for this slate
          type: string
          x-go-type: string
        style: simple
      - description: Organization name
        explode: false
        in: path
        name: org
        required: true
        schema:
          description: Organization name
          type: string
          x-go-type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Slate'
          description: OK
          headers:
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            Link:
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified
          headers:
            Managed-By:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unprocessable Entity
        "499":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Service Unavailable
      summary: Get Slate
      tags:
      - Slates for Organization
    put:
      description: |-
        Create/Update Slate
        Create or update a slate by id.  The URL of the slate must already exist.
      operationId: put-org-slate
      parameters:
      - description: Unique identifier for this slate
        example: slate-id-1
        explode: false
        in: path
        name: slate-id
        required: true
        schema:
          description: Unique identifier for this slate
          type: string
          x-go-type: string
        style: simple
      - description: Organization name
        explode: false
        in: path
        name: org
        required: true
        schema:
          description: Organization name
          type: string
          x-go-type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlateWithoutID'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Slate'
          description: OK
          headers:
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            Link:
              explode: false
              schema:
                type: string
              style: simple
        "201":
          description: Created
          headers:
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            Link:
              explode: false
              schema:
                type: string
              style: simple
        "204":
          description: No Content
        "304":
          description: Not Modified
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Forbidden
        "404":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        "408":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Request Timeout
        "409":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Conflict
        "412":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Precondition Failed
        "413":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Request Entity Too Large
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unprocessable Entity
        "499":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Service Unavailable
      summary: Create/Update Slate
      tags:
      - Slates for Organization
components:
  schemas:
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: "Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'"
          type: string
        message:
          description: Error message text
          type: string
        value: {}
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        instance:
          description: A URI reference that identifies the specific occurrence of
            the problem.
          format: uri
          type: string
        status:
          description: HTTP status code
          format: int64
          type: integer
        title:
          description: "A short, human-readable summary of the problem type. This\
            \ value should not change between occurrences of the error."
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          format: uri
          type: string
    Slate:
      additionalProperties: false
      example:
        $schema: https://openapi-generator.tech
        description: description
        id: id
        url: url
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          format: uri
          readOnly: true
          type: string
        description:
          description: A friendly slate description.
          type: string
        id:
          description: Unique identifier for this slate
          type: string
        url:
          description: The url where the slate can be accessed.
          type: string
      required:
      - description
      - id
      - url
    SlateWithoutID:
      additionalProperties: false
      example:
        $schema: https://openapi-generator.tech
        description: description
        url: url
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          format: uri
          readOnly: true
          type: string
        description:
          description: A friendly slate description.
          type: string
        url:
          description: The url where the slate can be accessed. Must be a valid URL
          type: string
      required:
      - description
      - url
  securitySchemes:
    authcode:
      flows:
        authorizationCode:
          scopes: {}
          tokenUrl: ""
      type: oauth2
    m2m:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: ""
      type: oauth2
x-cli-config:
  security: authcode
  prompt:
    org:
      description: Organization ID
      example: isp
      exclude: true
  params:
    audience: "https://platform.dev.dtc.istreamplanet.net/{org}"
    authorize_url: ""
    client_id: TMEt4ihzsGtgHd335WcFXjp5mJ1lS6qP
    redirect_url: http://auth.rest.sh:8484
    scopes: "offline_access,Groups"
    state: non-empty
    token_url: ""
